.card_container{
    max-width: 200px;
    background-image: linear-gradient(to right, whitesmoke,  #fffacde7);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    transition: transform 0.3s ease;
    font-family: 'DINNEXTLPro-Light';
}
.card_container:hover{
    transform: scale(1.03);
    cursor: pointer;
}

.img_container{
    width: 190px;
    height: 190px;
    border-radius: 2px;
    overflow: hidden;

}
.img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.title_price{
    color: black;
    text-align: center;
    font-family: 'DINNEXTLPro-Medium';
}
.add_button{
    border-radius: 6px;
    border: solid 1px ;
    border-color: rgba(174, 168, 168, 0.936);
    display: flex;
    justify-content: center;
    background-color: rgba(231, 230, 230, 0.811);
    transition: transform 0.2s ease;
}

.add_icon{
    padding: .3rem;
    font-size: 1.2rem;
}

.add_button:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.selected{
    background-color: rgba(64, 165, 64, 0.733);
}